.loader {
  height: 100vh;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notePage {
  margin-top: 20px;
  background-color: var(--main-bg-color);
  display: flex;
  overflow-y: auto;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.noteArea {
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--first-object-color);
  width: 80%;
  min-width: 380px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.noteHeaderArea {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 10pt;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.noteTitleArea {
  display: flex;
  position: relative;
  width: 90%;
}

.noteTitle {
  background-color: var(--first-object-color);
  display: flex;
  position: relative;
  color: var(--first-text-color);
  font-weight: 500;
  /* margin-left: 10pt; */
}

.dateArea {
  justify-content: flex-end;
  width: 100px;
  /* max-width: 100px;
  min-width: 100px; */
}

@media only screen and (max-width: 500px) {
  /* .dateArea {
    display: none;
  } */
  .noteTitle {
    align-content: center;
    align-items: center;
    font-size: 17px;
    display: flex;
    position: relative;
    color: var(--first-text-color);
    font-weight: 500;
  }
}

.date {
  display: flex;
  color: gray;
  font-size: 15px;
}

.headerUnderline {
  margin-left: 10pt;
  margin-right: 10pt;
}

.editorBox {
  margin: 10pt;
  min-height: 200px;
  color: var(--first-text-color);
}

.shareNoteButtonArea {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  min-width: 380px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  .shareNoteButtonArea {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    min-width: 380px;
    margin-bottom: 5%;
  }
}

.linkedMeetingsArea {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.LinkedNotesListArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-content: center;
  align-items: center;

  box-sizing: border-box;
}

.LinkedNotesListArea::-webkit-scrollbar {
  display: none;
}

.linkedMeetingsAreaTitle {
  font-size: 30px;
  font-weight: 300;
  width: 80%;
  text-shadow: 0.5px;
  margin-bottom: 20px;
}
