/* .notePage {
  background-color: #000000;
  display: flex;
  height: 100vh;
  width: 100%;
} */

.notePage {
  background-color: black;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: scroll;
  align-content: center;
  align-items: center;
}

.noteArea {
  background-color: #282828;
  width: 80%;
  min-width: 500px;
  height: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: scroll;
  border-radius: 10px;
}

.noteHeaderArea {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 2%;

  margin-left: 10pt;
  margin-right: 10pt;
  align-items: flex-end;
  /* align-content: flex-end;
  justify-content: flex-end; */
}

.noteTitle {
  color: white;
  font-weight: 200;
  margin-left: 10pt;
}

.dateArea {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.date {
  display: flex;
  /* background-color: blue; */
  color: gray;
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 7px;
}

.headerUnderline {
  margin-left: 10pt;
  margin-right: 10pt;
}

.Editor {
  display: flex;
  color: blue;
  margin-left: 20px;
  /* background-color: blue; */
  height: 90%;
  overflow: scroll;
}

.editorBox {
  margin: 10pt;
  color: white;
}
