.allNotesPage {
  display: flex;
  width: 100%;
  /* height: 80vh; */
  align-items: center;
  justify-content: center;
  align-content: center;
}

.loadingNotes {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.allNotes {
  flex-direction: column;
  width: 60vw;
}

@media only screen and (max-width: 500px) {
  .allNotes {
    flex-direction: column;
    width: 95vw;
  }
}

/* .linkedMeetingsArea .allNotes {
  min-width: 400px;
  width: 100%;
} */

/* .linkedMeetingsArea .DateTimeArea {
  display: none;
}

.linkedMeetingsArea .monthAreaBar {
  height: 20px;
}
.linkedMeetingsArea img {
  width: 20px;
  height: 20px;
}

.linkedMeetingsArea .monthName {
  font-size: 20px;
} */

.monthAreaBar {
  display: flex;
  width: 100%;
  height: 40px;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.linkedMeetingsArea .calendarDateArea,
.linkedMeetingsArea .monthAreaBar,
.linkedMeetingsArea .monthArea,
.linkedMeetingsArea .DateTimeArea {
  display: none;
}
.linkedMeetingsArea .NoteItem {
  height: 50px;
}

.linkedMeetingsArea .FullDateArea {
  display: flex;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 10px;
  color: var(--button-color);
}

.linkedMeetingsArea .NoteTitleArea {
  margin-top: 3px;
}

.monthArea {
  height: 30px;
  width: 60%;
  margin-left: 50px;
  display: flex;
  align-content: flex-end;
  /* justify-content: flexchr-end; */
  align-items: flex-end;
  flex-direction: row;
}

.monthName {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  margin-left: 5px;
  font-size: 25px;
  font-weight: 300;
}

.todayLine {
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 15px 15px -15px #333;
  margin: -50px auto 10px;
}

.NoteItem {
  display: flex;
  margin-bottom: 4px;
  height: 60px;
  align-content: center;
  /* align-items: center; */
  justify-content: center;
}

.NoteItemArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendarDateArea,
.calendarDateAreaB {
  position: relative;
  width: 40px;
  border-radius: 0.7em;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendarDateAreaB {
  font-weight: bold;
  border: 1px solid black;
  /* background-color: var(--second-object-color); */
}

.calendarDay {
  font-size: 80%;
}

.calendarDate {
  font-size: 150%;
}

.NoteArea {
  display: flex;
  width: 100%;
  align-items: center;
}

/* .Note {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  background-color: var(--third-object-color);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.Note,
.buttonMeetingNote,
.ActionItemPassed {
  display: flex;
  height: 80%;
  width: 95%;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--first-text-color);
  box-sizing: border-box;
  border: 1px solid transparent;
  align-items: center;
  overflow: hidden;
}

.ListItemBarComponent {
  display: flex;
  align-items: inherit;
  flex-direction: inherit;
  /* flex-direction: row; */
  color: inherit;
  width: calc(100% - 30px);
  height: 100%;
}

.buttonMeetingNote {
  color: var(--button-color);
}

.ActionItemPassed {
  background-color: #e60000;
}

.linkedMeetingsArea .Note {
  height: 45px;
  margin-left: 0;
  border-radius: 10px;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
}

.linkedMeetingsArea .ListItemBarComponent {
  flex-direction: column;
  align-items: flex-start;
}
