.allNotesPage {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.allNotes {
  flex-direction: column;
  height: 80vh;
  min-width: 420px;
  width: 60vw;
  overflow: scroll;
  /* display: flex; */
}
.NoteItem {
  display: flex;
  margin-bottom: 20px;
  height: 60px;
  align-content: center;
  /* align-items: center; */
  justify-content: center;
}

.NoteItemArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendarDateArea {
  position: relative;
  width: 40px;
  border-radius: 0.7em;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.calendarDay {
  font-size: 80%;
}

.calendarDate {
  font-size: 150%;
}

.NoteArea {
  display: flex;
  width: 100%;
  align-items: center;
}

.Note {
  display: flex;
  height: 80%;
  width: 100%;
  background-color: var(--third-object-color);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.buttonMeetingNote {
  display: flex;
  height: 80%;
  width: 100%;
  background-color: var(--third-object-color-2);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  box-sizing: border-box;
  border: 1px solid transparent;
  align-items: center;
  overflow: hidden;
}

.NoteTitleArea {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 10px;
  color: var(--second-text-color);
}

.NoteTitleText {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

@media only screen and (max-width: 500px) {
  .NoteTitleText {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

.DateArea {
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 150px;
}

.DateTimeArea {
  display: flex;
  width: 100%;
  color: var(--first-object-color);
  align-content: center;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
}
