.NoteItem {
  display: flex;
  flex-direction: row;
  min-width: 420px;
  /* max-width: 800px; */
  width: 60%;
  height: 50px;
  margin-top: 20px;
}

.NoteItemArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.DateArea {
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 150px;
}

.NoteArea {
  display: flex;
  width: 100%;
  margin-left: 5%;
  align-items: center;
}

.Note {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  background-color: #282828;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid transparent;
  overflow: hidden;
}

.buttonMeetingNote {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  background-color: rgb(136, 88, 88);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid transparent;
  /* text-overflow: ellipsis; */
  overflow: hidden;
}

.NoteTitleArea {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  color: gray;
}

.DateTimeArea {
  display: flex;
  width: 100%;
  color: #cfcfcf;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* .DateTime {
} */

.monthName {
  /* color: #cfcfcf; */
  font-size: 1.5vh;
  position: relative;
  top: -9px;
  left: -39px;
}

.dateName {
  font-size: 1.5vh;
  position: relative;
  top: 11px;
  left: -55px;
  color: #cfcfcf;
}

.Calendar {
  display: flex;
  width: 3em;
}

.calendarImage {
  width: 10px;
  display: flex;
  background-color: red;
}

.Calendar {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  margin: 10px;
  color: #333;
  /* background-color: #cecece; */
}

div.calendarDate {
  font-size: 1em;
  display: block;
  position: relative;
  width: 3em;
  height: 3em;
  background-color: gray;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  /* box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
    0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd; */
  overflow: hidden;
}

div.calendarDate * {
  display: block;
  width: 100%;
  font-size: 0.6em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

div.calendarDate strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #282828;
  background-color: #eebc1d;
}

/* div.calendarDate em {
  position: absolute;
  bottom: 0em;
  color: #282828;
  padding-top: 0.2em;
  height: 3em;
  background-color: #eebc1d;
} */

div.calendarDate span {
  font-size: 1em;
  letter-spacing: -0.05em;
  padding-top: 0.7em;
  color: #2f2f2f;
}
