.inputTitle {
  background-color: green;
  padding: "0px";
  width: 90%;
  background-color: var(--first-object-color);
  outline: none;
  overflow: hidden;
  border: none;
  /* margin-left: -20px; */
  margin-top: -1px;
  /* margin-bottom: -2px; */
}
