.containerTemplate {
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
  background-color: #f1f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.titleText {
  font-size: 32px;
  font-weight: 280;
}

.subText {
  font-size: 24px;
  font-weight: 280;
}

.containerTemplate .actionItemButtonNotePage {
  margin-top: 7px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: "#E5E5E5";
  /* background-color: saddlebrown; */
  /* background-color: "#E5E5E5"; */
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: black;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 250ms;
  background-color: white;
}

.actionItemButtonNotePage:hover {
  color: black;
}

.actionItemButtonNotePage:active {
  transform: translateY(2px);
}

.subSubText {
  color: #666666;
}

.subSubText a:hover {
  color: #666666;
}

.subSubText a {
  font-weight: 500;
  color: inherit;
}

.socials {
  /* background-color: violet; */
  margin-top: 15px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  width: 100px;
  margin-top: 20px;
}
