/* @value --main-color from "../../App.css"; */

.header {
  display: flex;
  width: 100vw;
  height: 60px;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
}

.headerInner {
  /* margin-left: 25px; */
  /* margin-right: 10px; */
  width: 80%;
  min-width: 360px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.searchBar {
  display: flex;
  width: 100%;
}

.searchBarInner {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.home,
.back {
  display: none;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .back {
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
  }
  .home {
    display: flex;
  }

  .searchBarInner {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

.searchBox {
  flex-grow: initial;
  background-color: "white";
  border: none;
  /* var(--first-object-color); */
  /* border: 1px solid transparent; */
  border-radius: 2px;
  /* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

/* .searchBox:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.signOut {
  display: flex;
  margin: 1%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .signOut {
    display: flex;
    margin: 1%;
    margin-right: 20px;
    /* height: 10px; */
    /* width: 100px; */
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
  }
}
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 40px;
}

@media only screen and (max-width: 500px) {
  .profilePic {
    width: 30px;
  }
}
.menu-trigger {
  /* width: 100px; */
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  z-index: 2;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
