.NotesListPage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.newNote {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: 35px;
  align-content: center;
  align-items: center;
}

.NotesListArea {
  margin-top: 20px;
  display: flex;
  height: 70vh;
  flex-direction: column;
  margin-bottom: 40px;

  /* New stuff */
  box-sizing: border-box;
  overflow: auto;
}

.NotesListArea::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) {
  .newNote {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height: 35px;
  }
}
