.NotesListPage {
  height: 100vh;
  background-color: black;
}
.NotesListArea {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: scroll;
  /* max-width: 30vw; */

  align-content: center;
  align-items: center;
}

.modeSelectorArea {
  display: flex;
  height: 10%;
  background-color: tomato;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.buttonArea {
  /* display: flex; */
  height: 50%;
  width: 60%;
  background-color: green;
  /* margin-top: 30%; */
}
