/* ---------------------- Custom -------------------- */

.modalCustom {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.headerArea {
  margin: 20px;
  display: flex;
  align-items: center;
  height: 30%;
}

.closeButtonArea {
  width: 100%;
  cursor: pointer;
  padding: 2px 5px;
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  border-radius: 18px;
  border: 1px solid #cfcece;
  font-size: 24px;
  border: none;
  color: rgba(61, 90, 128, 0.5);
}

.headerText {
  width: 600px;
  font-size: 18px;
  font-weight: 500;
  color: #3d5a80;
}
.modalCustom > .content {
  width: 100%;
  padding: 10px 5px;
}
.modalCustom > .actions {
  margin: auto;
}
.modalCustom > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.example-warper .example-warper-start {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}
.popup-menu {
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}

.popup-menu .menu-item {
  cursor: pointer;
  padding: 5px;
}
.popup-menu .menu-item:not(:first-child) {
  border-top: 1px solid #e8e7e7;
}
html[data-theme="dark"] .menu-item:not(:first-child) {
  border-top: 1px solid grey;
}

.popup-menu .menu-item:hover {
  color: #2980b9;
}

.popup-content {
  width: 400px;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #e5e5e5;
}

/* a[href],
  area[href],
  input:not([disabled]),
  select:not([disabled]),
  textarea:not([disabled]), */

/* button:not([disabled]):focus-within {
  border: 2px solid #2196f3;
} */

html[data-theme="dark"] .popup-content {
  background-color: rgb(41, 45, 62);
  color: #fff;
  border: 1px solid #464545;
}

html[data-theme="light"] .popup-content {
  background-color: #fff;
  color: #000;
  border: 1px solid #d7d7d7;
}

html[data-theme="dark"] .popup-arrow {
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: rgb(41, 45, 62);
  stroke-width: 2px;
  stroke: #464545;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
}

html[data-theme="light"] .popup-arrow {
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.otherMethodsArea {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.shareMethodItemArea {
  height: 80%;
  margin: 20px;
  /* width: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.shareMethodItemText {
  font-size: 12px;
  margin-top: 10px;
}

.shareMethodLinkArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(61, 90, 128, 0.5);
}

.shareMethodLinkText {
  margin-top: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 5px;
}

.shareUriBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background-color: rgb(216, 216, 216); */
  border-radius: 5px;
  height: 45px;
  background-color: rgba(157, 157, 157, 0.1);
}

.shareUriBoxText {
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyTextButtonBox {
  height: 100%;
  width: 15%;
  display: flex;
  align-content: center;
  align-items: center;
}
.copyTextButtonImg {
  height: 22px;
  margin-left: 5px;
  /* width: 60%; */
}

.copySpan {
  color: black;
  margin-left: 5px;
}

.shareMethodGoogleText {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 5px;
  margin-top: 30px;
}

.shareMethodGoogleBox {
  display: flex;
}

.buttonShare {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  background-color: var(--button-color);
  color: white;
  border-radius: 10px;
}
