.searchBarInner input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  height: 40px;
}

.headerPopup input[type="text"] {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  height: 40px;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

/* ---------------------- Custom -------------------- */
.modalCustom {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.headerPopup {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 50, 50);
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.searchIcon {
  margin-left: 10px;
  width: auto;
  height: 20px;
}
.searchBoxPopUp {
  margin-left: 0px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  background-color: rgb(50, 50, 50);
  color: white;
  /* background-color: blue; */
}
.searchBoxPopUp:focus {
  outline: none;
}
.searchBox:focus {
  outline: none;
}

.searchResultsArea {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  height: 100%;
  /* justify-content: center; */
  align-content: center;
  flex-direction: column;
  overflow: scroll;
}

.loadingArea {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
