.searchListItem {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.type {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.linkedMeetingButton {
  /* width: 40px;
  height: 40px;
  border-radius: 20px; */
  /* background-color: #9c978e; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  color: white; */
  /* position: relative; */
}

.plusSign {
  /* background-color: yellow; */
  /* position: absolute; */
  left: 10;
  bottom: 1;
  padding-bottom: 2px;
  /* width: 30px; */
  /* height: 30px; */
  font-size: 25px;
}
